.alarm {
	&Card {
		@extend .card;

		&EndTime {
			font-size: 3.5rem;
			line-height: 0.85;
			font-weight: 600;

			> span {
				font-size: initial;
			}

			&Container {
				display: flex;
				align-items: flex-start;
				justify-content: space-between;
			}
		}

		&TimeLeft {
			font-weight: 300;
		}

		&Title {
			font-size: 1.15rem;
			margin-bottom: 0.5rem;
		}

		&Day {
			&Row {
				gap: 0.5rem;
				display: flex;
				align-items: center;
			}
		}
	}

	&New {
		transition: all 125ms ease;
		border: 1px solid #1e1c1c;
		place-content: center;
		border-radius: 4px;
		position: absolute;
		padding: 0.35rem;
		display: grid;
		bottom: 2rem;
		right: 2rem;

		&:hover {
			box-shadow: 0 4px 0.5rem #1e1c1c;
			transform: translateY(-2px);
		}
	}

	&Day {
		display: grid;
		place-content: center;
		background-color: $primary-light;
		border: 1px solid $highlight;
		color: $highlight;
		padding: 0.25rem;
		height: 1.25rem;
		width: 1.25rem;
		border-radius: 100px;
		font-weight: 500;
		font-size: 0.85rem;

		&Active {
			color: $primary-dark;
			border: 1px solid transparent;
			background-color: $highlight;
		}
	}
}
