@use 'variables.scss' as var;

.container {
	gap: 0.35rem;
	display: flex;
	justify-content: space-around;

	&Wrapper {
		margin: 1.5rem 0;
		flex-direction: column;
	}

	&Digits {
		padding: 0.25rem;
		align-items: center;
		background: #1e1c1c;
		border-radius: 0.25rem;
		border-bottom: 2px solid #48b2ea;
	}

	&Padded {
		gap: 0.5rem;
		padding: 0.5rem 0;
		align-items: center;
		justify-content: flex-start;
	}

	&Checkbox {
		> input[type='checkbox'] {
			margin: unset;
			font-size: 1rem;
		}
	}

	&Dropdown {
		gap: 0.75rem;
		width: 100%;
		display: flex;
		margin: 1.25rem 0;
		position: relative;
		align-items: center;
		justify-content: space-between;
	}
}

.icon {
	display: grid;
	padding: 0.25rem;
	place-content: center;
	border-radius: 0.25rem;
	transition: all 125ms ease-in-out;

	&:hover {
		background: var.$primary-light;
	}
}

.input {
	flex: 1;
	padding: 0.5rem;
	color: white;
	border: unset;
	background: #1e1c1c;
	border-radius: 0.25rem;
	border-bottom: 2px solid #1e1c1c;

	&:focus-visible {
		outline: none;
		border-bottom: 2px solid var.$highlight;
	}

	&Wrapper {
		gap: 0.75rem;
		display: flex;
		margin: 1.5rem 0;
		align-items: center;
	}
}

.digit {
	font-weight: 700;
	font-size: 2.75rem;
	text-align: center;

	$parent: &;

	&Wrapper {
		flex: 1;
		width: 72px;
		display: flex;
		padding: 0.5rem;
		align-items: center;
		flex-direction: column;
		border-radius: 0.25rem;
		transition: all 125ms ease-in-out;

		&Selected {
			background-color: #242528;
		}
	}
}

.dropdown {
	$parent: &;

	flex: 1;
	border: unset;
	padding: 0.35rem 0.5rem;
	background: #1e1c1c;
	border-radius: 0.25rem;
	position: relative;
	color: white;

	transition: all 125ms ease-in-out;

	&:hover {
		background: var.$primary-light;
	}

	&Option {
		padding: 0.5rem;
		border-radius: 0.25rem;
		align-items: center;
		display: flex;
		gap: 0.5rem;

		&:hover {
			background: var.$primary-dark;
		}

		&Wrapper {
			display: none;
			overflow: auto;
			max-height: 250px;
			position: absolute;
			background: rgba(var.$primary-light, 0.9);
			transition: all 125ms ease-in-out;
			backdrop-filter: blur(5px);
			flex-direction: column;
			border-radius: 0.25rem;
			z-index: 100;
			width: 100%;
			top: 100%;
			left: 0%;

			&Active {
				display: flex;
			}

			@media screen and (min-height: 800px) {
				max-height: 275px;
			}

			@media screen and (min-height: 850px) {
				max-height: 300px;
			}

			@media screen and (min-height: 900px) {
				max-height: 325px;
			}

			@media screen and (min-height: 1000px) {
				max-height: 350px;
			}
		}

		> span {
			&:first-of-type {
				display: grid;
				place-content: center;
			}

			&:last-of-type {
				flex: 1;
			}
		}
	}
}
